*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif; 
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
}

.container h1{
    font-size: 60px;
    line-height: 80px;
    color:#333333;
    font-family: 'Yeseva One', cursive;
}

h1 span{ 
    color: #FFAD5A;
}

h2 span{ 
    color: #FFAD5A;
}
.container{
    width: 1170px;
    display: flex;
    align-items: center;
    margin: 0 auto;
}
.half-width{
    width: 50%;
}
.hero-section {
    padding: 80px 0;
}

.hero-section img{
    width: 426px;
    padding-left: 50px;
}

.hero-section p{
    padding-right: 182px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.button{
    text-decoration: none;
    background-color: #FF5959;
    color: white;
    padding: 12px 22px;
    border-radius: 5px;
    display: inline-block;
    font-weight: 500;
}

.hero-section .button {
    margin-bottom: 10px;
}

.quarter {
    width: 31%;
    padding: 0 1%;
}

.mission-section {
    margin-bottom: 80px;
}

.mission-section h2{
    font-size: 48px;
    line-height: 70px;
    color:#13103A;
    text-align: center;
    margin-bottom: 50px;
}

.mission-item {
    border-radius: 26px;
    padding: 25px 32px;
}

.green-color {
    background: rgba(79, 157, 166, 0.1);
}

.red-color {
    background: rgba(255, 89, 89, 0.1);
}

.yellow-color {
    background: #FFF4D6;
}

.mission-item img {
    width: 141px;
    height: 141px;
}

.mission-item h4 {
    font-size: 24px;
}

.mission-item p {
    color: #424242;
    margin-top: 10px;
    margin-bottom: 10px;
}

.about-section h3 {
    font-size: 36px;
    line-height: 54px;
    color: #333333;
}

.image-left {
    padding-right: 72px;
}

.image-left img{
    width: 400px;
    height: 400px;
}

.develop-right p{
    margin-top: 10px;
    color: #3E3E3E;
}

.develop-right .button{
    margin-top: 20px;
}

.section-two {
    padding-top: 105px;
    padding-bottom: 105px;
}

.global {
    padding-right: 0;
    padding-left: 100px;
}

footer {
    background-color: #0B0D17;
    padding: 50px 0;
    text-align: center;
}

footer h3 {
    font-family: 'Lobster', cursive;
    font-size: 36px;
    color: white;
    margin-bottom: 20px;
}

footer h3 span{
color: #FF5959;
}

footer p{
    color: #D9DBE1;
    font-size: 14px;
}